/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @font-face {
  font-family: 'ibmplexsans-medium';
  src: url('https://media.arion2000.xyz/cdn/fonts/ibmplexsans/IBMPlexSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('https://media.arion2000.xyz/cdn/fonts/ibmplexsans/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://media.arion2000.xyz/cdn/fonts/ibmplexsans/IBMPlexSans-Medium.woff') format('woff'), /* Modern Browsers */
       url('https://media.arion2000.xyz/cdn/fonts/ibmplexsans/IBMPlexSans-Medium_1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://media.arion2000.xyz/cdn/fonts/ibmplexsans/IBMPlexSans-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: "ibmplexsans-medium";
}

@media screen and (max-width: 997px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
