/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: "ibmplexsans-medium";
  src: url("/fonts/IBMPlexSans-Medium.woff") format("woff");
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: "ibmplexsans-medium";
}

@media screen and (max-width: 997px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
